﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Garage Assistant</h1>
</div>


<div class="row">
    <div class="col-md-4">
        <h4>Ipsum.</h4>
        <p>Volutpat phasellus dapibus arcu sit amet neque vulputate sed elementum orci fringilla in hac habitasse platea dictumst maecenas ut dui diam curabitur adipiscing vestibulum libero, nec varius dui pulvinar eget vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; aliquam dui neque, varius eu laoreet vel.</p>
    </div>
    <div class="col-md-4">
        <h4>Ipsum.</h4>
        <p>Volutpat phasellus dapibus arcu sit amet neque vulputate sed elementum orci fringilla in hac habitasse platea dictumst maecenas ut dui diam curabitur adipiscing vestibulum libero, nec varius dui pulvinar eget vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; aliquam dui neque, varius eu laoreet vel.</p>
    </div>
    <div class="col-md-4">
        <h4>Ipsum.</h4>
        <p>Volutpat phasellus dapibus arcu sit amet neque vulputate sed elementum orci fringilla in hac habitasse platea dictumst maecenas ut dui diam curabitur adipiscing vestibulum libero, nec varius dui pulvinar eget vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; aliquam dui neque, varius eu laoreet vel.</p>
    </div>
</div>

<hr />


<div class="row">
    <div class="col-md-6">
        <h4>Manage your inventory</h4>
        <p>Justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis.</p>

        <a href="@Url.Action("Index", "Inventory")" class="btn btn-default">
            Go to inventory
        </a>
    </div>
</div>
