﻿
@{
    ViewBag.Title = "Inventory";
}


<div class="container" ng-app="app" ng-controller="InventoryCtrl">

    <div class="row">
        <div class="col-md-12">
            <h2>
                Inventory
            </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>In Stock</th>
                        <th>Price</th>
                        <th />
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in model.Products">
                        <td>
                            {{product.Name}}
                        </td>
                        <td>{{product.Description}}</td>
                        <td>{{product.Quantity}}</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" disabled="disabled" ng-model="product.InStock" />In Stock
                            </div>
                        </td>
                        <td>{{product.Price | currency}}</td>
                        <td>
                            <a href="@Url.Action("Delete", "Inventory")/?id={{product.Id}}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>

                    <tr ng-if="model.Products.length == 0">
                        <td colspan="4" class="text-center">There currently no products available for display</td>
                    </tr>

                    <tr ng-if="states.showAddForm">
                        <td>
                            <input type="text" placeholder="Name" class="form-control" ng-model="new.Product.Name" />
                        </td>
                        <td>

                            <input type="text" placeholder="Description" class="form-control" ng-model="new.Product.Description" />
                        </td>

                        <td>

                            <input type="text" placeholder="Quanity" class="form-control" ng-model="new.Product.Quantity" />
                        </td>
                        <td>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="new.Product.InStock"> In Stock
                                </label>
                            </div>
                        </td>
                        <td>
                            <input type="text" placeholder="Price" class="form-control" ng-model="new.Product.Price" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary ladda-button" data-style="expand-left" ng-click="addProduct()" spin="states.isAdding" loading-button>Add</button>
                            <button type="button" class="btn btn-default" ng-click="showAddForm(false)">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a ng-click="showAddForm(true)" class="btn btn-primary">Add</a>
        </div>
    </div>

</div>

