﻿
@{
    ViewBag.Title = "Index";
}


<div ng-app="app" ng-controller="CustomerCtrl">

    <div class="row">
        <div class="col-md-12">
            <h1>
                {{Title}}
            </h1>
            <hr />

            <div ng-if="!states.detailView">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>Member Since</th>
                            <th>IsPriority</th>
                            <th>Phone Number</th>
                            <th />
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in model.Customers">
                            <td>
                                {{customer.Name}}
                            </td>
                            <td>{{customer.PhoneNumber}}</td>
                            <td>{{customer.CreationDate | date:'dd MMMM, yyyy'}}</td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" disabled="disabled" ng-model="customer.IsPriority" />
                                    </label>
                                </div>
                            </td>
                            <td>{{customer.PhoneNumber}}</td>
                            <td>
                                <a href="" ng-click="showDetailsPage(customer.Id)">
                                    <i class="fa fa-info"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="model.Customers.length == 0">
                            <td colspan="4" class="text-center">There currently no customers available for display</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div ng-if="states.detailView">

                <h4>
                    Customer Details
                </h4>

                <div ng-if="states.selected !== null">

                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="details-header">
                                Name
                            </h4>
                            <p>
                                {{states.selected.Name}}
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h4 class="details-header">
                                Phone number
                            </h4>
                            <p>
                                {{states.selected.PhoneNumber}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="details-header">
                                Vehicles
                            </h4>

                            <div ng-if="states.selected.Vehicles.length > 0">

                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="vehicle in states.selected.Vehicles">
                                        {{vehicle.Make}} - {{vehicle.Model}}
                                    </li>
                                </ul>
                            </div>


                            <div ng-if="states.selected.Vehicles.length === 0">
                                <p>
                                    This customer doesn't currently have any vehicles
                                </p>
                                <button type="button" class="btn btn-default">Add new</button>
                            </div>

                        </div>
                    </div>
                </div>
                <hr />
                <button class="btn btn-primary" ng-click="showDetailsPage()">Back</button>
                <hr />

            </div>


        </div>
    </div>



</div>


